* {
    box-sizing: border-box;
}

body {
    font-family: Calibri, sans-serif;
}

.parent {
    background-color: #FFF;
}

.child {
    background-color: #FFF4;
    min-height: 100vh;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    outline: #EEE solid 3px;
    padding: 5px;
}

.child > h1 {
    font-size: 22px;
    padding: 10px;
    margin-bottom: 20px;
}

.input {
    padding: 10px;
    border-radius: 11px;
    background-color: #fff;
    width: 220px;
    border: 2px solid navy;
    font-size: 18px;
}

.input:invalid {
    border-color: red;
}

.form > div {
    display: inline-block;
    width: 33%;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.form label {
    position: absolute;
    top: -10px;
    left: 40px;
    padding: 0 5px;
    background-color: #fff;
}

.error-message {
    visibility: hidden;
}

.invalid + .error-message {
    font-size: 14px;
    color: darkred;
    margin-top: 5px;
    visibility: visible;
    font-weight: bold;
}

.button {
    font-size: 14px;
    padding: 10px;
    border-radius: 11px;
}

.add_delete_button {
    float: right;
    margin-right: 20px;
}

.search > div {
    display: inline-block;
    position: relative;
}

.search input {
    margin-left: 20px;
}

.search label {
    top: -10px;
    left: 40px;
    padding: 0 5px;
    background-color: #fff;
    position: absolute;
}

.table {
    width: 100%;
    margin: 10px 0;
}

.table th {
    font-weight: 700;
    border-bottom: 1px solid #B4B4B4;
    padding: 4px 0;
}

.table td {
    text-align: center;
}

.contact-list td:not(:last-child) {
    border-right: solid 1px #B4B4B4;
}

.table th:not(:last-child) {
    border-right: solid 1px #B4B4B4;
}

.edit-input-style {
    width: 140px;
    margin: 2px;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 14px;
}

.in-table-button {
    margin: 2px 2px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid black;
}

.abc {
    display: flex;
}

.set-filter {
    display: inline-block;
    vertical-align: center;
}