* {
    box-sizing: border-box;
}

.parent {
    background-color: deepskyblue;
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
}

.child {
    min-width: 910px;
    max-width: 910px;
    max-height: 645px;
    background-color: #E6E7E7;

}

.header > div {
    display: inline-block;
    font-family: Candara, sans-serif;
    font-weight: 500;
    letter-spacing: -1px;
    color: #836E0D;
    background-color: #FED514;
    width: 130px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.header > div:not(:last-child) {
    border-right: solid 1px #B4B4B4;
}

th {
    font-size: 12px;
    font-family: Calibri, sans-serif;
    padding: 5px 10px;
    text-align: left;
}


td {
    padding: 5px 10px;
    text-align:center;
    font-family: Calibri, sans-serif;
    font-weight: 500;
}

.abc {
    max-width: 28px;
    width: 28px;
}

.bca {
    font-size: 12px;
}